{% extends 'website/layout.html' %} {% load static %}{% block content %}
<h1>About our team</h1>

<div class="row">
    <div class="card" style="width: 25rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Fried_Chicken.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title">Kat Chonka</h2>
            <p class="card-text">
                <b>Role:</b> DBA <br>
                <b>Favorite Food:</b> Fried Chicken <br>
                <b>Favorite Movie:</b> Reservoir Dogs <br>
                <b>Hobbies:</b> Fencing, Hiking, Swimming
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <img src="https://cdn.pixabay.com/photo/2017/12/05/20/09/pizza-3000274_960_720.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h2 class="card-title">Richard Basdeo</h2>
            <p class="card-text">
                <b>Role:</b> Front-end <br>
                <b>Favorite Food:</b> Pizza <br>
                <b>Favorite Movie:</b> Kill Bill vol. 1 <br>
                <b>Hobbies:</b> Racing Cars, Clubbing, Karaoke
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <img src="https://cdn.pixabay.com/photo/2016/06/17/19/10/pasta-1463929_960_720.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h2 class="card-title">Alina Zhong</h2>
            <p class="card-text">
                <b>Role:</b> Front-end <br>
                <b>Favorite Food:</b> Spaghetti <br>
                <b>Favorite Movie:</b> Pulp Fiction <br>
                <b>Hobbies:</b> Running, Volleyball, Skydiving
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <img src="https://cdn.pixabay.com/photo/2019/04/24/12/11/burger-4152013_960_720.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h2 class="card-title">Kamal Chhetri</h2>
            <p class="card-text">
                <b>Role:</b> Back-end <br>
                <b>Favorite Food:</b> Burgers <br>
                <b>Favorite Movie:</b> Django Unchained <br>
                <b>Hobbies</b>: Soccer, Chess, Surfing
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <img src="https://cdn.pixabay.com/photo/2017/04/30/09/30/steak-2272464_960_720.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h2 class="card-title">Arthur Lai</h2>
            <p class="card-text">
                <b>Role:</b> Back-end <br>
                <b>Favorite Food:</b> Steak <br>
                <b>Favorite Movie:</b> Inglourious Basterds <br>
                <b>Hobbies:</b> MMA, Diving, Sleeping
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

</div>
<br><br><br>
<div>
    <h2>
        <b>Languages & Technology Used:</b>
        <!-- <h4>Python, HTML, CSS, MySQL, Django</h4> -->
    </h2>
    <img src="https://www.python.org/static/img/python-logo.png" class="mr-3" alt="..."> <br>
    <img src="https://static.javatpoint.com/htmlpages/images/html-tutorial.png" class="mr-3" alt="..." height="100" width="100"> <br>
    <img src="https://discoverthreejs.com/static/images/app-logos/css3.png" class="mr-3" alt="..." height="100" width="100"> <br>
    <img src="https://static.djangoproject.com/img/logos/django-logo-negative.png" class="mr-3" alt="..." height="100" width="200">
</div>


{% endblock %}