{% extends 'website/layout.html' %} {% block content %}{% load static %}

<p>

    {% for i in r2 %}
    <!-- <img src="{% static 'images/recipe_images/{{i.recipe_name}}.jpg' %}" alt=""> -->
        <p>
            {{i.recipe_name}}
        </p>
        <p> 
            {%for x in i.ingredients%}
                <li>{{x}}</li>
            {% endfor %}
        </p>
        <p> 
            {%for x in i.directions%}
                <li>{{x}}</li>
            {% endfor %}
        </p>
    {% endfor %}

</p>

{% endblock %}