{% extends 'website/layout.html' %} {% block content %}{% load static %}
<main role="main" class="container">
    <div class="jumbotron">
        <img src="{% static 'images/recipe_images/{{i.recipe_name}}.jpg' %}" alt="">
        <p>
            {% for i in recipe %}
            <h1>{{i.recipe_name}}</h1>
            <p>
                <h5>Ingredients:</h5>
                {%for x in i.ingredients%}
                <li>{{x}}</li>
                {% endfor %}
            </p>
            <p>
                <h5>Directions:</h5>
                <ol>
                    {%for x in i.directions%}
                    <li>{{x}}</li>
                    {% endfor %}
                </ol>

            </p>
            {% endfor %}
        </p>
    </div>
</main>


{% endblock %}