{% extends 'website/layout.html' %} {% block content %}{% load static %}
<main role="main" class="container">
    <div class="jumbotron">
        <p>
            {% for i in recipe %}
            <h1>{{i.recipe_name}}</h1>
            <img src="{% static 'images/recipe_images/'|add:i.recipe_name|add:'.jpg' %}" alt="" height="300"
                width="400">
            <p>
                <h3>Ingredients:</h3>
                {%for x in i.ingredients%}
                <li>{{x}}</li>
                {% endfor %}
            </p>
            <p>
                <h3>Directions:</h3>
                <ol class="center">
                    {%for x in i.directions%}
                    <li>{{x}}</li>
                    {% endfor %}
                </ol>

            </p>
            {% endfor %}
        </p>
    </div>
</main>


{% endblock %}