
h1
{
	text-align: center;
	color:black;
	font-size: 5em;
	font-style: italic;
}

body
{
	background-color: rgba(222, 235, 224, 0.664);
	text-align: center;
}

.button{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: transparent;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	border-radius: 25px;
	padding: 25px;
	border: 2px solid black;	


}


.button:hover{
	background-color: black;
	color: white;

}
